.button-position
  float: right

.video-list
  margin: 5px
  display: block
  white-space: pre-wrap

.video-single
  margin: 5px

.info-text-position
  float: right
  padding-right: 10px

.series-admin-list
  white-space: normal
