.delete-button
  background-color: red
  color: #fff
  border-color: red

.button-position
  float: right

.licence-long-info
  white-space: pre-wrap

.embeddedVideo
  white-space: pre-wrap
  background-color: white
  border: 1px solid black