body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pagination {
  justify-content: flex-end !important;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-item{
  text-align: right;
}

.badge {
  font-size: 15px;
  font-weight: normal;
  padding: 0.25em 0.8em;
  line-height: 2;
}

.table-hover tbody td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.form-container form,
.form-container form div {
  display: inline;
}

.form-container button {
  display: inline;
  vertical-align: middle;
}

.react-bootstrap-table th[data-row-selection] {
  width:50px !important;
}

.table-responsive {
  overflow-x: unset;
}
